body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100svh;
    overflow: hidden;
    background-image: url(/img/background/bg3.jpg);
    background-position: 50% 70%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ultra', 'Arial', 'Helvetica', 'sans-serif';
}

canvas {
    background-color: black;
    border: 1px solid #A02209;
    display: block;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-container {
    position: relative;
}

#main-container:fullscreen {
    width: 100vw;
    height: 100vh;
}

#main-container:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
}

#main-container:-moz-full-screen {
    width: 100vw;
    height: 100vh;
}

#main-container:-ms-fullscreen {
    width: 100vw;
    height: 100vh;
}

#canvas {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #A02209;
    border-color: #A02209;;
    margin-top: -330px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Ultra', 'Arial', 'Helvetica', 'sans-serif';
}

/* Smartphone */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    title {
        position: absolute;
        top: 0;
    }
}

h1 {
    font-size: 40px;
    letter-spacing: 1px;
    color: #A02209;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);
}

span {
    font-size: 17.5px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 3px 3px 2px #A02209;
}

/* #main-container {
    width: 720px;
    height: 480px;
    position: absolute;
    display: flex;
    justify-content: center;
} */

.fullscreen {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.fullscreen img {
    height: 35px;
    width: 35px;
    cursor: pointer;
    ;
    margin: 10px;
}

.fullscreen img:hover {
    transform: scale(1.2);
}